@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu+Mono:400,700');

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, .sidebar, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


/* Base text styles */

body {
    font-family:"Open Sans", sans-serif;
    font-size: 14px;
    color: #657B83;/*#232323;*/
    background-color: #FDF6E3;
    margin: 0;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
}

p, ul, ol, table, dl {
    margin:0 0 22px;
}

h1,h2, h3 {
    display: block;
    padding-bottom: 5px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/* Code blocks */

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#000;
    font-size:14px;
}
pre {
    padding: 4px 12px;
    background: #FDFEFB;
    border-radius:4px;
    border:1px solid #D7D8C8;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 32px;
}


/* Wrapper */
.wrapper {
    width:960px;
}

/* Header */

.sidebar {

    font-family: 'Ubuntu Mono', monospace;
    /*background-color: #1D0040;*/
    background-color: #657b83;
    color: #FDFEEA;
    width: 20em;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    -webkit-font-smoothing: antialiased;
    height:100%;
    text-shadow: #0d5e4e 0 1px 1px;
}
.name {
    padding: 24px 25px 22px 24px;
}

.contact {
    list-style: none;
}

.contact a {
    text-decoration: none;
}
.contact p {
    color: white;
    width: 100%;
    padding: 5px;
    padding-left: 24px;
    margin: 0px;
    font-size: 18px;
}
.contact > li {
    transition: background-color .5s;
}
.contact > li:hover {
    background-color: grey;
}

h1.header {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3em;
    border-bottom: none;
    margin-top: 0;
}
.whoami {
    color: #ddd;
}
.list li {
    font-size: 20px;
    list-style-type: none;
    height:15px;
    margin-bottom: 2px;
    line-height: 1em;
    padding: 6px 6px 6px 7px;
}

/* Section - for main page content */

.section {
    width:540px;
    float:left;
    padding-bottom:50px;
    margin-left: 20rem;
    padding-top: 24px;
    padding-left: 0px;
}
.section h3 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #455B63;
}
.project-name {
    margin-bottom: 0px;
}

.img-holder {
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    width: 475px;
    height: 75px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 0px;
}

.project-image {
    display: block;
}

.project-description {
    padding-top: 10px;
}



